---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404">
    <div class="flex flex-col flex-1 justify-center items-center mt-20">
        <h1 class="text-white text-4xl pb-10">404</h1>
        <p class="text-white text-xl">{Astro.url}</p>
    </div>
</Layout>